
.profile-container {
    background-color: #f0e5ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #7b2cbf;
  }
  
  .profile-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d1b3ff;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .profile-input:disabled {
    background-color: #e1e1e1;
  }
  
  .profile-input::placeholder {
    color: #7b2cbf;
  }
  
  .profile-button {
    background-color: #7b2cbf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  .profile-button:hover {
    background-color: #5a189a;
  }
  
  .profile-input:focus {
    border-color: #5a189a;
    outline: none;
  }
  