.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #d1b3ff;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  
  .sidebar-header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin-top: 10px; 
  }
  
  .sidebar-menu li {
    padding: 12px;
    border-radius: 6px;
    text-align: left;
  }
  
  .sidebar-menu li:hover {
    background-color: #b39ddb; 
  }
  
  .sidebar-menu a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 14px;
  }
  

  .sidebar-footer {
    text-align: center;
    margin-top: auto;
  }
  
  .profile-circle {
    width: 35px;
    height: 35px;
    background-color: white;
    color: #6200ea;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 10px auto;
    font-size: 14px;
  }
  